<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- ===================================================================
         送審管制選單 (歸屬於 工程管理)
         =================================================================== -->

    <menuitem id="menu_review_application_all"
              name="送審管制表"
              parent="construction_supervision_base.menu_project_management_root"
              action="action_review_application"
              sequence="30"/>

</odoo>
