<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- ===================================================================
         通報單選單 (歸屬於 施工執行 > 通報單管理)
         =================================================================== -->

    <!-- 通報單 -->
    <menuitem id="menu_notification_slip_list"
              name="通報單"
              parent="construction_supervision_base.menu_notification_slip"
              action="action_reservation_notification_slip"
              sequence="10"/>

    <!-- 執行中通報單 -->
    <menuitem id="menu_notification_slip_in_progress"
              name="執行中通報單"
              parent="construction_supervision_base.menu_notification_slip"
              action="action_notification_slip_in_progress"
              sequence="30"/>

</odoo>
