<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- ===================================================================
         成本分析選單 (歸屬於 計價請款)
         =================================================================== -->

    <menuitem id="menu_cost_analysis"
              name="成本分析"
              parent="construction_supervision_base.menu_payment_root"
              action="action_cost_analysis"
              sequence="30"/>

</odoo>
